/GeneralExcelToSql/bin/
/GeneralExcelToSql/obj/
/GeneralSetupProject/Debug/*.exe
/GeneralSetupProject/Debug/*.msi
/GeneralSetupProject/Release/*.exe
/GeneralSetupProject/Release/*.msi
/.vs/
/Import-excel-to-sql-serverSetup Project/Debug/*.exe
/Import-excel-to-sql-serverSetup Project/Release/*.exe